<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/wichteln/">Home</a></li>
    <li class="breadcrumb-item"><a href="/wichteln/usermanagement/">Usermanagement</a></li>
    <li class="breadcrumb-item active" aria-current="page">View User</li>
  </ol>
</nav>

<div class="view-user p-5">
  {{#each rows}}
  <div class="row mb-5">
    <div class="col text-center">
      <h3>{{this.first_name}} {{this.last_name}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Alter</th>
            <th scope="col">Klasse</th>
            <th scope="col">Geschlecht</th>
            <th scope="col">uuid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{this.name}}</th>
            <td>{{this.age}}</td>
            <td>{{this.sclass}}</td>
            <td>{{this.sex}}</td>
            <td>{{this.uuid}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{/each}}
</div>